@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.EntityModels

@inject SignInManager<ApplicationUser> SignInManager

@if(SignInManager.IsSignedIn(User))
{
    <ul>
        <li>
            @{
                if(this.User.IsInRole("Employee")) {
                    <form asp-action="AddBook" asp-controller="Employee">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Add a new book</button>            
                    </form>
                    <form asp-action="EditDiscount" asp-controller="Employee">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Edit discounts</button>            
                    </form>          
                } 
                else 
                {
                    <form asp-action="Basket" asp-controller="Order" method="get">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Basket</button>            
                    </form>  
                }
            }
        </li>
    </ul>
}
