<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - BookCave</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="siteContainer">
        <div id="siteHeader">
            <div>
                <img src="~/images/bcLogo.png" alt="Book Cave logo" style="display:inline" class="nav navbar-nav navbar-left">
                <form asp-controller="Book" asp-action="Search" method="POST">
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div>
                
            </div>
                <div style="clear:both">
                    <ul class="siteNav">
                        <li><a asp-controller="Book" asp-action="Top10">Top 10</a></li>
                        <li><a href="#">Special Offers</a></li>
                        <li><a href="#">Shop By Category</a></li>
                    </ul>
                </div>
        </div>

        <div id="siteBody">
            @RenderBody()
        </div>

        <div id="siteFooter">
            <table class="footerNav" align="right">
                <tr>
                    <th>Support</th>
                    <th>Jobs</th>
                    <th>Other</th>
                    <th></th>
                </tr>
                <tr>
                    <td><a href="#">About us</a></td>
                    <td><a href="#">Apply</a></td>
                    <td><a href="#">Terms & Conditions</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#">Contact us</a></td>
                    <td></td>
                    <td><a href="#">Where do we deliver?</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#">Login/Sign up</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <div style="clear:both">
                <p class="footerText">theBookCave.com</p>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    </div>
</body>
</html>
