<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - BookCave</title>

        <!--
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        -->
        <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--
    <nav class="navbar-fixed-top navbar-collapse">
        <img src="~/images/bcLogo.png" alt="Book Cave logo" style="display:inline">
        
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Top10">Top Ten</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Category">Category</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    -->
    <div id="siteContainer">
        <div id="siteHeader">
            <div>
                <img src="~/images/bcLogo.png" alt="Book Cave logo" style="display:inline">
            </div>
            <div>
                
                
                
            </div>
                <div style="clear:both">
                    <!--
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Top10">Top Ten</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Category">Category</a></li>
                    </ul>
                    -->
                    <ul class="siteNav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Top 10</a></li>
                        <li><a href="#">Search by category</a></li>
                    </ul>
                </div>
    </div>
    <div id="siteBody">
        @RenderBody()
    </div>
    <div id="siteFooter">
       
        <footer>
            <br>
            <table class="footerNav">
                <tr>
                    <th>Support</th>
                    <th>Jobs</th>
                    <th>Other</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Login/Sign up</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Apply</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Where do we deliver?</a></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div>
                <p class="footerText">theBookCave.com</p>
            </div>
        </footer>
    </div>

</body>
</html>
