<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>@ViewData["Title"] - BookCave</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


        <link rel="stylesheet" href="~/css/siteStyles.css" />
        <link rel="stylesheet" type="text/css" href="~/slick/slick.css"/>
        <!--
            <link rel="stylesheet" href="~/css/styles.css" /> 
        -->
</head>
<body>
    
    <div id="siteContainer">
        <div id="siteHeader">
            <div id="siteHeaderTop">
                <div>
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/bcLogo.png" alt="Book Cave logo" class="nav navbar-nav navbar-left"></a>
                </div>
                <div class="searchAlign">
                    <form asp-controller="Book" asp-action="Search" method="POST">
                        <input type="text" class="from-control"/>
                        <input type="submit" value="searchTitle" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="loginAlign">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
            <div id="siteHeaderBottom">
                <ul>
                    <li><a asp-controller="Book" asp-action="Top10">Top 10</a></li>
                    <li><a href="#">Special Offers</a></li>
                    <li><a href="#">Shop By Category</a></li>
                </ul>
            </div>
        </div>
            
        <div id="siteBody">
            <div id="siteContent">
                @RenderBody()
            </div>
            
        </div>
        <div id="siteFooter">
            <div id="siteFooterEmpty"></div>
            <div id="siteFooterNav">
                <div class="siteFooterNavLinks">
                    <div class="siteFooterNavHeading"><h3>Support</h3></div>
                    <br><br><br>
                    <ul>
                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Login/Sign up</a></li>
                    </ul> 
                </div>
                <div class="siteFooterNavLinks">
                    <div class="siteFooterNavHeading"><h3>Jobs</h3></div>
                    <br><br><br>
                    <ul>
                        <li><a href="#">Apply</a></li>
                    </ul>
                </div>
                <div class="siteFooterNavLinks">
                    <div class="siteFooterNavHeading"><h3>Other</h3></div>
                    <br><br><br>
                    <ul>
                        <li><a asp-controller="Home" asp-action="TermsAndConditions">Terms & Conditions</a></li>
                        <li><a asp-controller="Home" asp-action="WeDeliver">Where do we deliver?</a></li>
                    </ul>
                </div>
                <div class="siteFooterNavLinks">
                    <div class="siteFooterNavHeading"><h3 style="visibility:hidden">Empty space</h3></div>
                </div>
            </div>
            <div style="text-align:center; margin:200px auto 50px">
                <p>&copy;theBookCave.com</p>
            </div>
        </div>
    </div>
    <!--
    <div id="siteContainer">
        <div id="siteHeader">
            <div>
                <div>
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/bcLogo.png" alt="Book Cave logo" style="display:inline; float:left" class="nav navbar-nav navbar-left"></a>
                </div>
                <div style="padding-top:25px; padding-right:90px">
                    <form asp-controller="Book" asp-action="Search" method="POST">
                        <input type="text" class="from-control"/>
                        <input type="submit" value="Search" class="btn btn-primary"/>
                    </form>
                </div>
                <div style="padding-right:100px">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        
                <div style="clear:both">
                    <ul class="siteNav">
                        <li><a asp-controller="Book" asp-action="Top10">Top 10</a></li>
                        <li><a href="#">Special Offers</a></li>
                        <li><a href="#">Shop By Category</a></li>
                    </ul>
                </div>
        </div>
        <p class="bottomPadding">It's a secret to everybody</p>

        
        @RenderBody()
        

        
        <div id="siteTable">    
            <div class="footerFill"></div>
            <div class="footerNavBox">
                <table class="footerNav">
                    <tr>
                        <th>Support</th>
                        <th>Jobs</th>
                        <th>Other</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><a asp-controller="Home" asp-action="About">About us</a></td>
                        <td><a href="#">Apply</a></td>
                        <td><a asp-controller="Home" asp-action="TermsAndConditions">Terms & Conditions</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a asp-controller="Home" asp-action="Contact">Contact us</a></td>
                        <td></td>
                        <td><a asp-controller="Home" asp-action="WeDeliver">Where do we deliver?</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a asp-controller="Account" asp-action="Login">Login/Sign up</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div style="clear:both">
                <p class="footerText">theBookCave.com</p>
            </div>
        </div>
            
            
        
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    </div>
    -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
</body>
</html>
