@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.EntityModels

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if(SignInManager.IsSignedIn(User))
{
    <ul class="navbar-right userOptions">
        <li>
            @{
                if(this.User.IsInRole("Employee")) {
                    <button class="buttonOption">@claim</button>            
                } 
                else 
                {
                    <form asp-action="Profile" asp-controller="Account">
                        <button type="submit" class="buttonOption">@claim</button>            
                    </form>
                }
            }
        </li>
        <li>
            <form asp-action="LogOut" asp-controller="Account" method="Post">
                <button type="submit" class="buttonOption">Log Out</button>            
            </form>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="padding-right: 20px">
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-default">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-default" >Log In</a>
        </li>
    </ul>
}