<div>
    <form asp-action="forgottenPassword" asp-controller="Account" class="form-horizontal">
        <div class="form-group">
            <label>
                Enter the email associated with your account <br><input type="email" autofocus="autofocus" name="email" class="form-control" placeholder="Enter your email"/>
            </label>
            <br>
            <input type="submit" class="btn btn-default" value="Submit"/>      
            <br>
        </div>
    </form>
</div>