<div class="siteBody">
    <form class="form-horizontal">
        <div class="form-group">
            <label>
                Enter the email associated with your account <br><input type="email" autofocus="autofocus" id="emailInput" class="form-control" placeholder="Enter your email"/>
            </label>
            <br/>
            <span id="emailStatusMessage"></span>
            <br>
            <input type="button" class="btn btn-default" id="forgottenPassBtn" value="Submit">   
            <br>
        </div>
    </form>
</div>