<head>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<div>
    <form class="form-horizontal">
        <div class="form-group">
            <label>
                Enter the email associated with your account <br><input type="email" autofocus="autofocus" id="email" class="form-control" placeholder="Enter your email"/>
            </label>
            <span id="emailStatusMessage"></span>
            <br>
            <button class="btn btn-default" onclick="doesEmailExist(event)">Submit</button>  

            <h1>VIRKAR EKKI</h1>    
            <br>
        </div>
    </form>
</div>