@model BookCave.Models.ViewModels.LoginViewModel

<div class="siteBody">
<h1>Login</h1>
<form asp-action="Login" asp-controller="Account" class="form-horizontal">
    <div class="form-group">
        <label>
            Email <br><input type="email" autofocus="autofocus" asp-for="Email" class="form-control" placeholder="Enter your email"/>
        </label>
        <br>
        <span asp-validation-for="Email" class="text-danger"></span>
        <br>
    </div>
    <div class="form-group">  
        <label>          
            Password <br><input type="password" asp-for="Password" class="form-control" placeholder="Enter your password" id="password"/>
        </label>            
        <br>
        <span asp-validation-for="Password" class="text-danger"></span>
        <br>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" asp-for="RememberMe"/> Remember Me
        </label>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Login"/>
    </div>
    <a asp-action="forgottenPassword" asp-controller="Account">Forgotten Password?</a>
    <br>
    <p>Don't have an account?</p>
    <a asp-action="Register" asp-controller="Account" class="btn btn-default">Join us!</a>
</form>
</div>