@model BookCave.Models.ViewModels.LoginViewModel

<h1>Login</h1>
<form asp-action="Login" asp-controller="Account" class="form-horizontal">
    <div class="form-group">
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter email"/>
    </div>
    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter password"/>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" asp-for="RememberMe"/> Remember Me
        </label>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Login"/>
    </div>
   <!-- <a asp-action="forgotPassword" asp-controller="Account">Forgotten Password?</a>
    <br>
    <p>Don't have an account?</p>
    <a asp-action="Register" asp-controller="Account" class="btn btn-default">Join us!</a>
    -->
</form>