@model BookCave.Models.ViewModels.UserViewModel 

<div class="siteBody">
    <div>
        <img src="@Model.image" alt="Profile Picture" class="profilePic">
        <h1>@Model.name</h1>
        @{
            if(Model.favBook != null)
            {
                <h2>My favorite book: @Model.favBook</h2>
            }
        }
        
        <br>
        <h2>Addresses </h2>
        @{
            if(Model.addresses == null)
            {
                <p>you have no listed addresses</p>
            }
            else
            {
                @foreach(var address in Model.addresses)
                {
                    <h3>@address</h3>
                }
            }
        }
        
        <a asp-action="EditProfile" asp-controller="Account" class="btn btn-default">Edit profile</a>
        <a asp-action="EditAddresses" asp-controller="Account" class="btn btn-default">Edit addresses</a>
        <a asp-action="OrderHistory" asp-controller="Account" class="btn btn-default">Order history</a>
    </div>
</div>