@model BookCave.Models.ViewModels.UserViewModel 

<div>
    <div>
        <img src="@Model.image" alt="Profile Picture">
    </div>
    <div>
        <h1>@Model.name</h1>
        <h2>My favorite book: @Model.favBook</h2>
        <form asp-action="EditProfile" method="GET">
            <input type="submit" value="Edit Profile">
        </form>

        <h2>Addresses </h2>
        @foreach(var address in Model.addresses)
        {
            <h3>@address</h3>
        }
        <form asp-action="EditAddresses" method="GET">
            <input type="submit" value="Edit Addresses">
        </form>
    </div>
</div>