@model BookCave.Models.ViewModels.OrderBasketView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basket</title>
</head>
<body>
    
    @foreach(var book in Model.books)
    {
        <p>@book.bookName</p>
        <p>@book.quantity</p>
    }
    @Model.totalPrice
</body>
</html>