@model BookCave.Models.InputModels.JobApplicationInput

<form asp-action="Apply" asp-controller="Home" method="post">
    <fieldset>
        <legend>Job application</legend>

            <label>
            Name <input type="text" autofocus="autofocus" asp-for="name" class="form-control"/>
            </label>
            <span asp-validation-for="name" class="text-danger"></span>
            <br>

            <label>
            Email <input type="text" asp-for="email" class="form-control"/>
            </label>
            <span asp-validation-for="email" class="text-danger"></span>
            <br>

            <label>
            Phone <input type="text" asp-for="phone" class="form-control"/>
            </label>
            <span asp-validation-for="phone" class="text-danger"></span>
            <br>

            <label>
            Position
            <br>
            <select name="position">
                <option value="" selected></option>
                <option value="generalApplication">General application</option>
                <option value="boss">Boss</option>
                <option value="peasant">Peasant</option>
            </select>
            </label>
            <span asp-validation-for="position" class="text-danger"></span>
            <br>

            <label>
            Current employment status
            <br>
            <select name="employmentStatus">
                <option value="" selected></option>
                <option value="employed">Employed</option>
                <option value="unemployed">Unemployed</option>
                <option value="selfEmployed">Self-employed</option>
                <option value="student">Student</option>
            </select>
            </label>
            <span asp-validation-for="employmentStatus" class="text-danger"></span>
            <br>

            <label>
            Resume url <input type="text" asp-for="resumeURL" class="form-control"/>
            </label>
            <span asp-validation-for="resumeURL" class="text-danger"></span>
            <br>

            <label>
            When can you start working?<input type="date" asp-for="startDate" class="form-control"/>
            </label>
            <span asp-validation-for="startDate" class="text-danger"></span>
            <br>
            <br>

            <input type="submit" value="Submit review"  class="btn btn-success btn-sm">

    </fieldset>
</form> 

