@{
    ViewData["Title"] = "The Book Cave";
}
<div id="siteBody">
    <h2>@ViewData["Title"]</h2>
    <address>
        One Bookington Street<br />
        Bookingham, UK<br />
        <abbr title="Phone">Phone:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br/>
        <strong>Research:</strong> <a href="mailto:Spying@example.com">Research@example.com</a>
    </address>
</div>
