
    <h2>New releases</h2>
    <div class="bookItemSlider">
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div>
        <h2>Popular books</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p>  
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div class="bottomPadding">
        <h2>Special deal</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>  
