   
<div id="siteBody">

    <div style="clear:both">
        <h2>New releases</h2>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
    </div>
    <div style="clear:both">
        <h2>Bestselling books</h2>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
    </div>
    <div style="clear:both">
        <h2>Special offers</h2>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
    </div>
    
</div>   
