
    <h2>New releases</h2>
    <div class="bookItemSlider">
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p style="text-align: center; font-size: 16px; font-weight: bold;">Alice in wonderland</p>
            <p>Author: Lewis Carroll</p>
            <p>Genre: Fantasy</p>
            <p>Rating: 4,5</p>
            <p>Price: 8,5 $</p>
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: Hickory Dickory Dash</p>
            <p>Author: Tony Wilson </p>
            <p>Genre: Children</p>
            <p>Rating: 5</p>
            <p>Price: 5,8 $</p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div>
        <h2>Popular books</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p>  
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div class="bottomPadding">
        <h2>Special deal</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>  
    <!-- Side navigation
<div class="sidenav">
  <h2>Recomended authors</h2>
  <a href="#">Author#1</a>
  <a href="#">Author#2</a>
  <a href="#">Author#3</a>
</div>
*/