<br>
<div id="siteBody">
    
    <div>
        <h2>New releases</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div>
        <h2>Popular books</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div class="bottomPadding">
        <h2>Special deal</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        
    </div>
</div>   
