   
<div id="siteBody">
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p> 
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
        <div class="book-item">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Geggjud bok</p>
            <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
        </div>
</div>   
<!--
        <div id="siteBody">
            <div class="book-item">
                <img src ="./images/shark.jpg" alt="" width="170" height="170">
                <p>Geggjud bok</p>
                <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
            </div>
            <div class="book-item">
                <img src ="./images/shark.jpg" alt="" width="170" height="170">
                <p>Geggjud bok</p> 
                <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
            </div>
            <div class="book-item">
                <img src ="./images/shark.jpg" alt="" width="170" height="170">
                <p>Geggjud bok</p>
                <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
            </div>
            <div class="book-item">
                <img src ="./images/shark.jpg" alt="" width="170" height="170">
                <p>Geggjud bok</p>
                <button type="button" class="btn btn-primary btn-sm">Add to basket</button>
            </div>
        </div>
        -->

