    <h1>Testing area</h1>
        <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
    <h1>Testing area</h1>
    <h2>New releases</h2>
    <div class="bookItemSlider">
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: Alice in wonderland</p>
            <p>Author: Lewis Carroll</p>
            <p>Genre: Fantasy</p>
            <p>Rating: 4,5</p>
            <p>Price: 8,5 $</p>
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div>
        <h2>Popular books</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p>  
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>
    <div class="bottomPadding">
        <h2>Special deal</h2>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        <div class="book-item marginPush">
            <img src ="./images/shark.jpg" alt="" width="170" height="170">
            <p>Title: </p>
            <p>Author: </p>
            <p>Genre: </p>
            <p>Rating: </p>
            <p>Price: </p> 
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
        
    </div>  
