@model BookCave.Models.InputModels.ReviewInput
    
<div class="Review post form reviewalign">
    
    <form method="post">
            <fieldset class="rating" style="margin-left:auto">
                <legend>Please rate:</legend>
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Best book ever">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Not good or bad">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Worst book ever">1 star</label>
                <span asp-validation-for="rating"></span>
            </fieldset> 
            </br>
            <div class="review-form">
            <label asp-for="review">Write a Review</label><br/>
            <textarea rows="4" cols="50" name="review" asp-for="review"></textarea>
            <span asp-validation-for="review"></span><br/>
            </div>

            <input type="submit" value="Submit review"  class="btn btn-success btn-sm">
            
    </form>
    
</div>
    
