@model BookCave.Models.InputModels.ReviewInput
<br>
<div id="siteBody">
    <br>

    <div class="Review post form">
        <form method="post">
            <span class="starRating">
                <input id="rating5" type="radio" name="rating" value="5">
                <label for="rating5">5</label>
                <input id="rating4" type="radio" name="rating" value="4">
                <label for="rating4">4</label>
                <input id="rating3" type="radio" name="rating" value="3">
                <label for="rating3">3</label>
                <input id="rating2" type="radio" name="rating" value="2">
                <label for="rating2">2</label>
                <input id="rating1" type="radio" name="rating" value="1">
                <label for="rating1">1</label>
            </span>
            
            <label asp-for="rating">Rating: </label><br/>
            <input type="double" asp-for="rating"><br/>
            <span asp-validation-for="rating"></span><br/>
        
            <label asp-for="review"></label><br/>
            <input type="text" asp-for="review"><br/>
            <span asp-validation-for="review"></span><br/>
        
            <input type="submit" value="Submit review">
        </form>
    </div>
</div>