<div>
    <h2>Categories</h2>
    <br/>
     
                <a asp-action="search" asp-controller="book" asp-route-id="Search?&searchCategory=Adventure"><img href"http://www.filmsite.org/images/adventure-genre.jpg"></a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Children's literature"><img href"http://www.filmsite.org/images/adventure-genre.jpg"></a>
                <a asp-action="search" asp-controller="book" asp-route-id="Search?&searchCategory=Adventure">Classic</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Comic">Comic</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Cosmology">Cosmology</a>
                <a asp-action="search" asp-controller="book" asp-route-id="=&searchCategory=Crime">Crime</a>
            
            
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Dystopian">Dystopian</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Education">Education</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Fable">Fable</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Fairy tale">Fairy tale</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Fantasy">Fantasy</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Fiction">Fiction</a>
            
            
                 <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Folklore">Folklore</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Historical fiction">Historical fiction</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Horror">Horror</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Humor">Humor</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Legend">Legend</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Magical realism">Magical realism</a>
            
            
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Mystery">Mystery</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Mythology">Mythology</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Romance">Romance</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Science fiction">Science fiction</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Short story">Short story</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Thriller">Thriller</a>
                <a asp-action="search" asp-controller="book" asp-route-id="&searchCategory=Western">Western</a>
            
</div>