<div class="categoryDiv">
    <h2>Categories</h2>
    <br/>
        <div class="grid-container">
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Adventure"><img class="categoryImg" src="~/images/adventure.jpg" alt="Action"><p>Adventure</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Children's literature"><img class="categoryImg" alt="image" src="~/images/children.jpg"><p>Children's literature</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Classic"><img class="categoryImg" alt="image" src="~/images/classic.jpg"><p>Classic</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Comic"><img class="categoryImg" alt="image" src="~/images/comic.jpg"><p>Comic</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Cosmology"><img class="categoryImg" alt="image" src="~/images/cosmology.jpg"><p>Cosmology</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Crime"><img class="categoryImg" alt="image" src="~/images/crime.jpg"><p>Crime</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Dystopian"><img class="categoryImg" alt="image" src="~/images/dystopia.jpg"><p>Dystopian</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Education"><img class="categoryImg" alt="image" src="~/images/education.jpg"><p>Education</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Fable"><img class="categoryImg" alt="image" src="~/images/fable.jpg"><p>Fable</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Fairy tale"><img class="categoryImg" alt="image" src="~/images/fairytale.jpg"><p>Fairy Tale</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Fantasy"><img class="categoryImg" alt="image" src="~/images/fantasy.jpg"><p>Fantasy</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Fiction"><img class="categoryImg" alt="image" src="~/images/fiction.jpg"><p>Fiction</p></a>
            </div>
            <div class="grid-item">
                 <a href="http://localhost:5000/Book/Search?searchCategory=Folklore"><img class="categoryImg" alt="image" src="~/images/folklore.jpg"><p>Folk lore</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Historical fiction"><img class="categoryImg" alt="image" src="~/images/historicalfiction.jpg"><p>Historical Fiction</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Horror"><img class="categoryImg" alt="image" src="~/images/horror.jpg"><p>Horror</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Humor"><img class="categoryImg" alt="image" src="~/images/humor.png"><p>Humor</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Legend"><img class="categoryImg" alt="image" src="~/images/legend.jpg"><p>Legend</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Magical realism"><img class="categoryImg" alt="image" src="~/images/magic.jpg"><p>Magical realism</p></a>
            </div>
            <div class="grid-item">            
            
                <a href="http://localhost:5000/Book/Search?searchCategory=Mystery"><img class="categoryImg" alt="image" src="~/images/mystery.jpg"><p>Mystery</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Mythology"><img class="categoryImg" alt="image" src="~/images/mythology.png"><p>Mythology</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Romance"><img class="categoryImg" alt="image" src="~/images/romance.jpg"><p>Romance</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Science fiction"><img class="categoryImg" alt="image" src="~/images/sciencefiction.jpg"><p>Science Fiction</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Short story"><img class="categoryImg" alt="image" src="~/images/shortstory.jpg"><p>Short Story</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Thriller"><img class="categoryImg" alt="image" src="~/images/thriller.jpg"><p>Thriller</p></a>
            </div>
            <div class="grid-item">
                <a href="http://localhost:5000/Book/Search?searchCategory=Western"><img class="categoryImg" alt="image" src="~/images/western.jpg"><p>Western</p></a>
            </div>
    </div>        
</div>