/*Stylesheet for BookCave, patent pending*/
/* For realz donut steal >:( */
* {
     margin: 0;
     padding: 0;
}
body{
    width: 100%;
    /*background-color: #ececea;*/
    background-color: rgb(59, 59, 59);
}
#siteContainer{
    margin: 0px auto;
}
/*Styles for header*/
#siteHeader{
    height: 125px;
    background: maroon;
    position: fixed;
    width: 100%;
    z-index: 1;
    /*Setur haus fremst*/
}
#siteHeaderTop{
    display: inline;
}
#siteHeaderBottom{
    clear: both;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 50px;
    background-color: rgb(59, 59, 59);
}
#siteHeaderBottom li {
    float: left;
}
#siteHeaderBottom li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#siteHeaderBottom li a:hover:not(.active),
                  button:hover:not(.active) {
    background-color: #111;
}
#siteHeaderBottom button {
    margin-top: -10px;
    display: block;
    color: white;
    padding: 14px 16px 10px 16px;
    text-decoration: none;
}
.fillerSpace{
    width: 55%;
    height: 20px;
    float:left;
}
#cartIcon{
    float:left; 
    margin-left:10px; 
    width:42px; 
    height:45px
}
.searchAlign{

    padding-top: 35px;
    padding-left: 29%;
    font-size: 19px;
    border: none;
}

.loginAlign{
    padding-right: 5%;
    margin-top:-70px;
}
.loginAlign a:hover{
    color: black;
}
.userOptions{
    width:25%; 
    height:90px; 
    background-color:#ececea;
    border: solid black 1px;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
}
.buttonOption{
    width: 95%;
    height: 30px;
    margin: 2%;
    padding-top: -1%;
    overflow: hidden;
    text-overflow: ellipsis; 
    border-radius: 10px;
    text-align: center;
    color:white;
    background-color: rgb(59, 59, 59);
}


/*Styles for footer*/
#siteFooter{
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
    /*position: absolute;*/
    background:rgb(59, 59, 59);
}
#siteFooterEmpty{
    width: 30%;
    height: 100px;
    float: left;
}
#siteFooterNav{
    width: 70%;
    float: left;
}
.siteFooterNavHeading{
    border-bottom: solid white 2px;
    color: white;
    float: left;
    width: 100%;
    overflow: hidden;
}
.siteFooterNavLinks{
    color: white;
    width: 25%;
    height: auto;
    float: left;
    list-style-type: none;
}
.siteFooterNavLinks ul {
    margin-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.siteFooterNavLinks li a {
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
}
.siteFooterNavLinks li a:hover{
    background-color: #111;
}

/*Styles, ID's and classes for main body*/
#siteBody{  
    padding: 150px 0px 100px;  
    margin: 0px auto;
    width: 100%;
    background-color: #ececea;
    overflow: hidden;
    text-align:center;
}
#siteContent{
    float: left;
    width: 100%;
    text-align:center;
    overflow-y:hidden;
    
}
.hide{
    visibility: none;
}
/*Main index*/
.bookItemSlider{
    min-height: 5%;
    max-height: 155px;
    overflow-x: scroll;
    display: inline;
}
.book-item{   
    border-style: solid;
    text-align: left;
    width: 170px;
    height: 390px;
    margin: 15px;
    padding: 5px;
    border-radius: 6px;
    background-color: #f4f4f4;
    display: inline-block;
    resize: none;
    overflow: auto;
}
.book-item img{
    max-width: 100%;
}
.book-item button{
    display: block;
    margin: 0 auto;
}
/*Top 10 index*/
.movieTopList{
    border-style: solid;
    text-align: left;
    width: 150px;
    margin: 1.6%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 6px;
}
.bookDisp{
    border-style: solid;
    border-radius: 6px;
    padding: 10px;
    margin: 10px auto;
    text-align: right;
    width: 500px;
    clear:both; 
    display: block;
    height: 200px;
    background-color: white;
}
.bookDisp img{
    max-height: 100%;
    float:left;
    padding: 3px;
}
.bookPopNum{
    float:left; 
    margin-top:-4px; 
    margin-right: 10px;
}
/*Details index*/
#bookDetails{
    width: 100%;
}
.bookDetailsDesc img{
    float: left;
    padding: 20px;
    max-width: 25%;
}
.bookDetailsDesc{
    margin: 0px 50px;
    width: auto;
    text-align: left;
    float: left;
}
.bookDetailsReview{
    float: right;
    margin-right: 25%;
}
.pushDown{
    margin-top: 50px;
}
/*Search index*/
#searchDiv{
    width: 95%;
    margin: auto;
    margin-left: 5%;
    padding-left: 20px;
}
.searchBook{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid black 2px;
    padding: 5px;
    margin: 15px;
    width: 195px;
    height: 400px;
    border-radius: 5px;
    display: block;
    float: left;
    text-align: left;
    
    background-color: white;
}
.searchBook img{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-holder{
    display: block;
    text-align: center;
}

.link-title{
    text-align: center;
    text-overflow: ellipsis;
}

.titleDiv{
    overflow-wrap: break-word
}
/*Discount index*/

#discountHolder{
    width: 95%;
    margin: auto;
    margin-left: 5%;
    
}
.discountBook{
    padding: 15px;
    width: 45%;
    border: solid black 2px;
    border-radius: 5px;
    height: 270px;
    background-color: white;
    margin: 15px;
    float: left;
}
.discountBookCover{
    width: 150px;
    height: 100%;
    padding: 10px;
    text-align: center;
    float: left;
}
.discountBookCover img{
    max-width: 100%
}
.discountBookCover h3{
    margin-top: -15px;
}



/*Review*/
.reviewalign{
    margin-right:40%;
    margin-left: 40%;
    margin-top: 20px;
}

.review-form{
    margin-top: 100px;
    text-align: left;
}

.book-review {
    width: 100%;
    border: #111;
    border: solid;
    border-radius: 5%;
    text-align: left;
}

span.stars, span.stars span {
    display: block;
    position: relative;
    background: url("./../images/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.details-stars {
    left: 24.5%;
}

span.stars span {
    background-position: 0 0;
}

.rating{
    text-align: left;
}
.profilePic{
    max-height: 200px;
}
.addressTable {
    position: absolute;
    left: 35%;
    width: 40%;
    text-align: left;
}

/*star radio buttons*/
.rating {
    float:left;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/*Carousel style*/
.container { 
    margin:150px auto;
}
#mixedSlider {
    position: relative;
  }
  #mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  #mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
  }
  @media (max-width: 991px) {
    #mixedSlider .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
      width: 100%;
    }
  }
  #mixedSlider .MS-content .item .imgTitle {
    position: relative;
  }
  #mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  #mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  #mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  #mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  #mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  #mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
  }
  #mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 992px) {
    #mixedSlider .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls button {
      font-size: 20px;
    }
  }
  #mixedSlider .MS-controls .MS-left {
    left: 0px;
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
      left: -10px;
    }
  }
  #mixedSlider .MS-controls .MS-right {
    right: 0px;
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
      right: -10px;
    }
  }
  #basicSlider { position: relative; }
  
  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }
  
  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }
  @media (max-width: 991px) {
  
  #basicSlider .MS-content .item { width: 25%; }
  }
  @media (max-width: 767px) {
  
  #basicSlider .MS-content .item { width: 35%; }
  }
  @media (max-width: 500px) {
  
  #basicSlider .MS-content .item { width: 50%; }
  }
  
  #basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
  }
  
  #basicSlider .MS-controls button { position: absolute; }
  
  #basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
  }
  
  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }