body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(59, 59, 59);*/
    background-color: lightblue;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*******************/
/* Changes go here */
/*******************/

#siteContainer{
    text-align: center;
    width: auto;
    height: auto;
}
#siteBody{
    margin: auto;
    padding: auto;
    float: both;
    background-color: lightgreen;
    width: auto;
    height: auto;
}

#siteHeader{
    height: 145px;
    background-color: rgb(124, 148, 253);
}
#siteFooter{
    clear: both;
    margin: auto;
    padding: auto;
    overflow: hidden;
    color: white;
    background-color:rgb(59, 59, 59);
}

.siteNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(59, 59, 59);
}

.siteNav li {
    float: left;
}

.siteNav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.siteNav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#siteSearch{
    float: left;
    margin-top: 45px;
    margin-left: 45px
}
.footerNav {
    margin-left: 250px;
    border-collapse: collapse;
    clear: both;
}

th, td {
    color: white;
    width: 200px;
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: 2px solid white;
}

/***/

.footerNav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.footerNav td a {
    display: block;
    color: white;
    padding: 8px 0px;
    text-decoration: none;
}
.footerNav td a:hover:not(.active) {
    background-color: #111;
}

.footerText{

    text-align: center;
    margin-top: 150px;
}

/*Implement similair class*/
.book-item{

    border-style: solid;
    text-align: left;
    width: auto;
    float: left;
    margin: 1.6%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 6px;
}
.movieTopList{
    border-style: solid;
    text-align: left;
    width: 800px;
    float: left;
    margin: 1.6%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 6px;
}
