body {
     margin: 0;
     padding: 0;
     width: 100%;
     background-color: #ececea;
 }
 #siteContainer{
     text-align: center;
     width: 100%;
     margin: 0 auto;
 }
 #siteBody{
     
     margin: 0px auto;
     width: 100%;
     /*text-align: center;*/
     height: auto;
     background-color: #ececea;
     overflow: hidden;
     
     
 }
 
 #siteHeader{
     height: 135px;
     background-color: maroon;
     position:fixed;
     width: 100%;
 }
 #siteFooter{
     clear: both;
     margin: auto;
     padding: auto;
     overflow: hidden;
     color: white;
     background-color:rgb(59, 59, 59);
 }
 
 .siteNav {
     list-style-type: none;
     overflow: hidden;
     background-color: rgb(59, 59, 59);
 }
 
 .siteNav li {
     float: left;
 }
 
 .siteNav li a {
     display: block;
     color: white;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 .siteNav li a:hover:not(.active) {
     background-color: #111;
 }
 
 #siteSearch{
     float: left;
     margin-top: 45px;
     margin-left: 45px
 }
 .footerNav {
     
     
     border-collapse: collapse;
     clear: both;
 }
 
 th, td {
     color: white;
     text-align: left;
     padding: 8px;
     width: 20%;
 }
 
 th {
     border-bottom: 2px solid white;
 }
 
 /***/
 
 .footerNav {
     
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: auto;
     height: auto;
 }
 
 .footerNav td a {
     display: inline-block;
     color: white;
     padding: 8px 0px;
     text-decoration: none;
 }
 .footerNav td a:hover:not(.active) {
     background-color: #111;
 }
 
 .footerText{
 
     text-align: center;
     margin-top: 50px;
     padding-bottom: 15px;
     color: white;
 }
 
 /*Implement similair class*/
 .book-item{
     
     border-style: solid;
     text-align: left;
     width: 150px;
     margin: 15px auto;
     padding: 5px;
     border-radius: 6px;
     background-color: #f4f4f4;
     display: inline-block;
 }
 .book-item img{
     max-width: 100%;
 }
 .bookDisp{
     border-style: solid;
     border-radius: 6px;
     padding: 10px;
     margin: 10px auto;
     text-align: right;
     width: 500px;
     clear:both; 
     display: block;
     background: white;
 }
 .movieSmallPoster{
     float: left;
     height: 115px;
     display: block;
 }
 .movieTopList{
     border-style: solid;
     text-align: left;
     width: 150px;
     margin: 1.6%;
     padding: 10px;
     background-color: #f4f4f4;
     border-radius: 6px;
 }
 #content{
     border-style: solid;
     margin: 50px 5%;
     width: 800px;
     text-align: center;
 }

 .marginPush
{
  margin-left: 30px;
}
.bottomPadding{
     padding-bottom: 95px;
     display: hidden;
}
#indexContainer{
     display: inline;
}
#siteFooter{
     float: right;
     
}
#siteTable{
     width: auto;
     background-color: rgb(59, 59, 59);
     display: inline-block;
     position: absolute;
}
#footerFill{
     float:left;
     width:30%;
     height:100px;
}
.footerNavBox{
     width: 70%;
     float: right;
}

/*Carousel styles*/
